<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!--
	IMPORTANT: This is a PLACEHOLDER file.

	To get your actual GoogleService-Info.plist:
	1. Go to https://console.firebase.google.com
	2. Create a new project named "CityServe-Dev" (for development)
	3. Add an iOS app with your bundle identifier
	4. Download the GoogleService-Info.plist
	5. Replace this file with the downloaded one

	DO NOT commit the real GoogleService-Info.plist to Git!
	Add it to .gitignore for production projects.
	-->

	<key>CLIENT_ID</key>
	<string>REPLACE_WITH_YOUR_CLIENT_ID</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>REPLACE_WITH_YOUR_REVERSED_CLIENT_ID</string>
	<key>API_KEY</key>
	<string>REPLACE_WITH_YOUR_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>REPLACE_WITH_YOUR_GCM_SENDER_ID</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urbannest.CityServe</string>
	<key>PROJECT_ID</key>
	<string>cityserve-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cityserve-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>REPLACE_WITH_YOUR_GOOGLE_APP_ID</string>
</dict>
</plist>
